<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: gray;
  }

  button {
    margin-left: 20px ;
  }

  .message {
    margin-bottom: 20px;
    color: #ffff
  }
</style>

<div class="content">
  <div class="message">{{clickFrom}}</div>
  <div>
    <button (click)="directOpenModal()">直接</button>
    <button (click)="indirectOpenModal()">间接</button>
  </div>
</div>



